# don't put duplicate lines or lines starting with space in the history. See
# bash(1) for more options
HISTCONTROL=ignoreboth

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=1000
HISTFILESIZE=2000

########################################################################
#  exports: the following env variables are available to subprocesses  #
########################################################################

# custom environment variables
export JAVA_HOME=$(readlink -f /usr/bin/java | sed "s:/jre/bin/java::")
export EDITOR=emacs
