# This file is part of the dotfiles project. Changes should be checked in to the
# repository to be propagated to other computers.

# FILE: ~/.exports: sets environment variables

########################################################################
#  exports: the following variables are restricted to the shell        #
########################################################################

# don't put duplicate lines or lines starting with space in the history
HISTCONTROL=ignoreboth

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=1000
HISTFILESIZE=2000

########################################################################
#  exports: the following env variables are available to subprocesses  #
########################################################################

# custom environment variables
export JAVA_HOME=$(readlink -f /usr/bin/java | sed "s:/jre/bin/java::")
export EDITOR=emacs
